* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
    font-size: 1.8rem;
}
.container{
    width:40%;
    background-color: #fff;
    padding:2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


.weather_search {
    position:relative;
    
    i{
        position:absolute;
        top:0.8rem;
        left:1.4rem;
        font-size:2.2rem;
        color:white;
    }

    input{
        background-color: black;
        color:white;
        border: none;
        padding:1rem 1.5rem; /* vertically horizontally */
        padding-left: 6.8rem;
        font-size: 2rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;

        &::placeholder{
            color:white;
        }
    }   
}


.weather_body{
    text-align: center;
    margin-top:1.9rem;
    font-size:1.8rem;

    .weather_date_time{
        margin-bottom:1.5rem;
    }

    .weather_forecast {
        background: #1e1e1e;
        color: #fff;
        display: inline-block;
        padding: 1.5rem;
        margin-bottom:1rem;

        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
    }

    .weather_temperature{
        font-size: 3rem;
        margin-top:1rem;
    }
    .min_max_temp{
        display: flex;
        justify-content: center;
        gap:2.5rem;
        margin-top:1.5rem;
    }

}

.weather_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    margin-top:3rem;

    .weather_card{
        display: flex; /* it make the flex direction row */
        align-items: center;
        gap:1.5rem;
        padding:2rem;
        font-size: 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        i{
            font-size:3rem;
        }   
    }
}

@media(width<=1200px){
    html{
        font-size: 56%;
    }
    
}
@media(width<=934px){
    html{
        font-size: 60%;
    }
    .container{
        width:60%;
    }
    input{
        width:100%;
    }
    .weather_info{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media(width<=663px){
    html{
        font-size: 55%;
    }
}
@media(width<=610px){
    html{
        font-size:53%;
    }
    .container{
        width:100%;
    }
}

